/* style.css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  /* Box sizing for older browsers - my addition */
  -ms-box-sizing: border-box; /* IE */
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Chrome, Safari */
  -o-box-sizing: border-box; /* Opera */

  box-sizing: border-box;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of CSS reset */

/* while designing use the following 2 styles */
body {
    background-color: #0ff;
}
div, nav, section, footer {
    border: 1px solid #f00;
}

/* begin unique styling */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem; 
}

/* Navigation Section */

/* this selects the top navigation <nav> */
.top-navigation {
  background-color: #fff;
}

/* separating .content div styling here in case want to use 
   identical styling for other .content divs */
.content {
  width: 60.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem; /* 15px = 0.9375rem */ 
}

/* this selects the <div> wrapping the navigation image and <ul> */
.top-navigation > .content {
  height: 4.375rem;
}

.top-navigation img {
  width: 1.625rem; /* 26px = 1.625rem */
  /* height: 4.375rem; 70px */
  margin: 0.9375rem 0 0 0; /* 15px = 0.9375rem */
}

.top-navigation ul {
  float: right;
  margin: 1.5625rem 0 0 0; /* 25px = 1.5625rem */ 
  /* letter-spacing: 0.03em; */
  /* only for webkit ?? */
  -webkit-font-smoothing: antialiased;
}

.top-navigation li {
  display: inline-block;
  margin: 0 0 0 1.5625rem; /* 25px = 1.5625rem */
  color: #838994;
  /* http://www.w3schools.com/cssref/css3_pr_transition-timing-function.asp */
  /* transition: property duration timing-function delay|initial|inherit; */
  transition: color 0.25s ease;  
}

.top-navigation li:hover {
  cursor: pointer;
  color: #333333;
}

/* end Navigation Section */
